.book-card {
  border-bottom: 3px solid azure;
  padding: 10px 0;
  height: fit-content;
}

.book-card__title {
  font-weight: 400;
}

.book-card__subtitle {
  font-weight: 300;
}

.book-card__image {
  margin-right: 10px;
  width: 128px;
  height: 183px;
}

.book-card__wrapper {
  display: flex;
  padding: 10px 0;
}

.book-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card__btn {
  width: 200px;
  padding: 10px 25px;
  border: 1px solid azure;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
}

.book-card__btn:hover {
  background-color: rgb(157, 216, 216);
  color: azure;
  cursor: pointer;
}
