.search-form {
  padding: 20px;
  font-size: 24px;
  line-height: 24px;
}

.search-form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__field, .search-form__submit {
  border: 3px solid #282c34;
  background-color: azure;
  border-radius: 32px;
  outline: none;
  font-size: 22px;
  padding: 6px 14px;
  color: #282c34;
}

.search-form__field {
  margin: 0 15px;
  width: 350px;
}

.search-form__submit {
  padding: 8px 40px;
}

.search-form__submit:hover {
  background-color: rgb(157, 216, 216);
  color: azure;
  cursor: pointer;
}
