* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

#root {
  min-height: 100vh;
  background-color: #282c34;
  color: azure;
}
